/* color */
$color-000: #000;
$color-333: #333;
$color-ccc: #ccc;
$color-fff: #fff;
$color-eee: #eee;
$color-19f: #19f;
$color-rgba000_6: rgba(0,0,0,.6);

/* number */
$_0: 0;
$_50pct: 50%;
$_100pct: 100%;
