<!doctype html>
<html lang="en">
  <%- partial('_partial/_head') %>

  <body>
    <%- partial( "_partial/_aside" ) %>

    <article class="main" id="main">
      <%- body %>
      <%- partial( "./_partial/_footer.ejs" ) %>
    </article>
  </body>
</html>
