.aside {
  font-size: 13px;

  .aside-menu {
    width: 100%;
  }
  .aside-show-wrapper {
    font-size: 14px;
  }

  .aside-avatar-STRONG {
    display: none;
  }

  .aside-show::before {
    display: none;
  }
  .search-from {
    top: 2.8em;
    right: 50%;
    width: 70%;
    margin-right: -30%;
  }
  .aside-avatar {
    font-size: 10px;
  }
  .aside-avatar-caption {
    padding-top: 0;
    margin: .5em;
  }
  .aside-show-description {
    margin: .5em;
  }
}
