.main {
  .footer {
    font-size: 12px;
  }

  .post,
  .min-height {
    font-size: 12px;
  }
  .youku {
    width: auto;
    height: auto;
  }
  .post-tags-title,
  .archive-title,
  .post-title {
    border-left-width: 2px;
  }

  .category-list-item {
    font-size: 12px;
  }
}
