<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= config.title %></title>

  <%- css( "/css/style.css" ) %>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_pb2xepysv85gsyvi.css">
  <%- js( "/js/to-top.js" ) %>
  <%- js( "/js/search.js" ) %>
</head>
