.search-from {
  @extend .display-inlineBlock;
  @extend .position-relative;
  z-index: 3;
  width: 60%;
  margin-left: -50px;
  margin-top: 1em;
  transition: all ease .3s;
}
.search-text {
  width: 100%;
  height: 16px;
  padding: 8px 30px 8px 8px;
  @extend .font-size_14px;
  line-height: 16px;
  color: $search-text-color;
  @extend .border-none;
  background-color: rgba(0,0,0,.6);
  box-shadow: 0 0 1px 2px $search-shadow-color;
}
.search-text:focus {
  box-shadow: 0 0 1px $search-shadow-color-hover;
}
.search-btn {
  @extend .position-absolute;
  @extend .top_0;
  right: -37px;
  height: 32px;
  color: $search-btn-color;
  @extend .background-none;
  @extend .border-none;
}
.search-btn:hover {
  color: $search-btn-color-hover;
  @extend .cursor-pointer;
}
