/* ========= 侧边栏 ========= */
.aside {
  @extend .position-relative;
  z-index: 9999;
  @extend .float-left;
  width: 30%;
  @extend .height_100pct;
  @extend .overflow-hidden;
  @extend .font-size_16px;
  background: url( $custom-background-image ) no-repeat center center / cover;
  background-color: #fff;

  @import "./_aside/_menu";
  @import "./_aside/_show";
  @import "./_aside/_search";
  @import "./_aside/_search-data";

  .aside-menu:hover + .aside-show {
    background-color: rgba(0,0,0,0);
  }
}
