.footer {
  clear: both;
  margin-bottom: 1em;
  @extend .overflow-hidden;
  @extend .font-size_14px;
  @extend .text-align-center;
}
.footer-text {
  margin: .5em 0;
}
.footer-link {
  @extend .color-19f;
  @extend .text-decoration-none;
}
.footer-link:hover {
  @extend .color-333;
  @extend .text-decoration-underline;
}
