/* ========= 友情链接 ========= */
.links-list {
  @extend .clearfix;
  @extend .padding_0;
  @extend .overflow-hidden;
  @extend .text-align-center;
  @extend .list-style-none;
}
.links-item {
  @extend .display-block;
  @extend .clearfix;
  width: 350px;
  margin: 1em auto;
}
.links-avatar {
  @extend .float-left;
  width: 80px;
  height: 80px;
  @extend .border-radius-round;
  box-shadow: 1px 1px 1px 1px $link-color;
}
.links-wrapper {
  @extend .float-left;
  height: 60px;
  margin: 10px 0 10px 24px;
}
.links-link:hover {
  @extend .color-333;
  border-bottom: 1px solid $link-color-hover;
}
.links-text {
  @extend .margin_0;
  font-size: .8em;
}
.links-link,
.links-text {
  width: 246px;
  height: 30px;
  @extend .overflow-hidden;
  @extend .text-overflow-ellipsis;
  @extend .text-align-left;
  @extend .white-space-nowrap;
  line-height: 30px;
}
.links-link {
  @extend .display-block;
  height: 29px;
  @extend .text-decoration-none;
  color:  $link-color;
  border-bottom: 1px solid $link-color;
}
