/* ========= 主体部分 ========= */
.main {
  @extend .float-left;
  width: 70%;
  @extend .height_100pct;
  @extend .overflow-auto;
  box-sizing: border-box;

  @import "./_main/_paginator";
  @import "./_main/_to-top";
}
.main > .min-height {
  min-height: 85%;
}
