/* ========= 文章展示 ========= */
.posts {
  @extend .font-size_18px;
  @extend .overflow-hidden;
}
.post {
  padding: .5em 2em;
  @extend .font-size_18px;
  @extend .overflow-hidden;
}
.post-header {
  @extend .clearfix;
  @extend .overflow-hidden;
}
.post-header .post-time {
  @extend .display-inlineBlock;
  margin-right: 1em;
}
.archive-title,
.post-header .post-title,
.post-tags-title {
  padding-left: .5em;
  border-left: 4px solid $color-333;
}
.archive-title,
.post-title,
.post-tags-title {
  font-size: 1.9em;
  line-height: 1.6;
  margin: 0;
}
.posts .post-title {
  border-left: 0 none;
}
.archive-title,
.post-title,
.post-title-link,
.post-tags-title {
  @extend .font-weight-normal;
  @extend .text-decoration-none;
  @extend .letter-spacing_1px;
  color: $title-color;
  transition: all ease .2s;
}
.post-title-link {
  @extend .display-block;
}
.post-tags-title,
.post-title-link,
.archive-title {
  @extend .overflow-hidden;
  @extend .white-space-nowrap;
  @extend .text-overflow-ellipsis;
}
.post-title-link:hover {
  text-indent: .5em;
  color: $title-color-hover;
  border-left: 4px solid $title-color-hover;
}
.post-excerpt {
  margin: -.5em 0;
  @extend .overflow-hidden;
}
.post-more {
  @extend .display-inlineBlock;
  margin-top: 1em;
  @extend .text-indent-abbr;
  @extend .text-decoration-none;
  color: $link-color;
  transition: all ease .2s;
}
.post-more:hover {
  @extend .text-decoration-underline;
  text-indent: 2.5em;
  color: $link-color-hover;
  border-left: 2px solid $link-color-hover;
}
.post-meta {
  line-height: 1.8;
}
.post-time {
  @extend .display-block;
  margin-top: .5em;
}
.post-categories {
  @extend .display-inlineBlock;
  padding: 0 .5em;
  margin-right: .6em;
  @extend .text-decoration-none;
  color: $category-color;
  background-color: $category-background-color;
  transition: all ease .2s;
}
.post-categories:hover {
  opacity: .8;
}
.post-tags {
  margin-right: .5em;
  @extend .text-decoration-none;
  color: $tag-color;
}
.post-tags:hover,
.post-tags:hover .post-tags-icon::after {
  color: $tag-color-hover;
}
.post-tags-icon {
  font-size: 1.1em;
}
.post-tags-icon::before {
  vertical-align: -.1em;
}
.post-tags-icon::after {
  content: "·";
  margin: 0 .3em;
  @extend .color-333;
}
.post-copyright {
  padding: 1em;
  margin-top: 2em;
  @extend .overflow-hidden;
  font-size: .9em;
  @extend .text-indent-abbr;
  @extend .color-000;
  @extend .background-color-eee;
  @extend .border-radius_3px;
}
.post-copyright-link {
  @extend .color-19f;
  @extend .text-decoration-none;
}
.post-copyright-link:hover {
  @extend .color-333;
  @extend .text-decoration-underline;
}

.post-excerpt,
.post-content {
  @extend .overflow-hidden;

  @import "./_post/_markdown";
}

@import "./_post/_toc";
